*{
    margin:0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300;
    box-sizing: border-box;font-family: 'Lato', sans-serif;
}
body {
    background-color:#f5f5f5;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
/** BG **/
.bg-gradient{
    background:linear-gradient(to right, #ff0000, #EE6055);
}
.bg-black{
    background-color: #000000;
    color: #ffffff;
}
.bg-white{
    background-color: #ffffff;
}
/** **/

/** UTIL **/
.round{
    border-radius: 7px;
}
.text-center{
    text-align: center;
}
/** **/

.cabecalho{
    padding: 3% 4%;
    width: 100%;
    float: left;
}
.container{
    padding: 3% 4%;
    width: 100%;
    float: left;
}

.logo{
    width: 56px; 
    height: 56px; 
    float: left;
    background: url(../../img/logo.png) center center / 56px no-repeat;
    font-size: 0;
}

.btn-menu{
    width: 56px;
    height: 56px;
    float: right;
    color: white;
    border-radius: 56px;
    cursor: pointer;
}

.menu{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top:0;
    left: 0;
}

.menu ul{
    width: 100%;
    float: left;
}
.menu li{
    padding: 1.5%;
}

.menu li a{
    font-size: 2em;
    color: #ffffff;
    padding: 1.5% 3%;
}
.menu li a:hover{
    border: 1px solid #00EE00;
}
.top-menu{
    display: none;
}

.btn-close{
    color: #ffffff;
    font-size: 3em;
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;
}

/* BANNER */

.banner{
    text-align: left;
    background: url(../../img/bg.jpg) no-repeat fixed;
}
.title{
    width: 100%;
}

.banner h2{
    font-size: 2.5em;
    color: #ffffff;
    font-weight: 700;
}

.banner h3{
    font-size: 1.5em;
    color:#ffffff;
    font-weight: 500;
}
.line{
    margin-top: 3px;
    padding: 2px;
}

.btn{
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 5%;
}
.buttons{
    margin-top: 2%;
}

.btn i{
    float: right;
}

.btn-full{
    width: 100%;
}

.btn-primary{
    background-color: #ffffff;
    color: #000000;
}

.btn-black{
    background-color: #000000;
    color: #ffffff;
}
.btn-yellow{
    background-color: gold;
    color: #000000;
}
/*   SERVICOS */
.servico{
    width: 100%;
    background-color: #ffffff;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 3%;
}

.servico img{
    border-radius: 7px 7px 0 0;
}
.inner{
    padding: 7%;
}
.inner a{
    font-size: 1.5em;
    color: #EE6055;
    font-weight: 700;
}
.inner h4{
    font-size: 1.2em; 
    color: #000000;
    margin-top: 2%;
}
.inner p{
    margin-top: 6%;
    color: #000000;
    line-height: 1.5em;
    text-align: left
}
.inner p strong{
    font-weight: 700;
}
.inner img{
    width: 100%;
}
.newsletter{
    color: #ffffff;
    background-color: #000000;
    border-radius: 7px 7px 0 0;
}
.newsletter h2{
    font-size: 1.5em;
    font-weight: 700;
}
.newsletter form{
    margin-top: 2%;
}
.newsletter input{
    background-color: #C5C5C5;
    border: 1px solid #ffffff;
    padding: 5%;
}

.newsletter button{
    font-size: 1.5em;
    font-weight: 700;
    color: #000000;
    margin-top: 5%;
}
.rodape{
    border-radius: 0 0 7px 7px;
}

.social-icons a{
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 3%;
}
.social-icons a:hover{
    color: rgb(255, 255, 255)
}
.social-icons a:last-child{
    margin-right: 0;
}
.copyright{
    margin-top: 2%;
    color: rgba(255, 255, 255, 0.7);
}

.contador{ 
    width: 100%;
    font-weight: 500;
}

/** MOBILE **/
/** SMALL DEVICES **/

@media only screen and (min-width: 400px){
    .btn{
        font-size: 1.5em;
    }
    .banner h3{
        font-size: 2em;
        color:#ffffff;
        font-weight: 500;
    }
    .inner{
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 768px){
    .cabecalho{
        display: none;
    }
    .top-menu{
        display: inline;
        float: left;
    }
    .banner{
        text-align: left;
        background: url(../../img/bg.jpg) no-repeat fixed;
        background-size: 100%;
        padding: 5%;
    }
    .contador{
        display: none;
    }
    .logo{
        display:none;
    }  
    .btn-menu{
        display:none;
    }
    .buttons{
        width: 30%;
        float: right; 
        margin-top: 0;
    }
    .title{
        width: 70%;
        float: left;
    }
    .menu li a{
        font-size: 3em;
        color: #ffffff;
        padding: 1.5% 3%;
        line-height: 2em;
    }
    .servico{
        width: 31%;
        background-color: #ffffff;
        float: left;
        border-radius: 7px;
        margin-bottom: 3%;
        height: 650px;
        margin-right: 2%;
    }

    .servico img{
        height: 150px;
    }

    .inner a{
        font-size: 1em;
        color: #EE6055;
        font-weight: 700;
    }
    .newsletter{
        display: none;
    }
}



